body {
  background: #edf1f1;
}

a {
  color: #195658fb;
}

.App {
  border: 1px solid black;
  padding: 30px;
  margin: 10px auto;
  border-radius: 8px;
  width: fit-content;
  max-width: 950px;
  height: fit-content;
  font-family: "Times New Roman", Times, serif;
  background-image: url("https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: full;
}

.App-header {
  margin: 10px 0;
  color: rgb(51, 158, 158);
  font-weight: 700;
  text-align: center;
  font-family: round;
  font-style: italic;
  font-size: 50px;
  background-image: url("https://img.freepik.com/free-vector/open-book-isolated_1284-43075.jpg?t=st=1651965817~exp=1651966417~hmac=94680abe44a9b96358a5145c80d828acd7921e6e4c8a41f265a748346b388e9b&w=826");
  background-position: left;
  background-size: 200px;
  background-repeat: no-repeat;
}

.App footer {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: white;
  color: rgb(49, 48, 48);
  text-align: center;
  font-size: 15px;
}
